<section id="todos" class="m-2 mx-auto w-[90%] p-2">

  <h1 class="font-sans font-bold text-3xl mb-4"> Todo list :</h1>

  <button
    class=" w-[150px] flex-shrink disabled:bg-slate-200 disabled:text-gray-400 bg-red-600 hover:bg-red-700 text-white p-2 text-center rounded-lg disabled:font-normal font-bold uppercase disabled:shadow-none shadow-md text-sm"
    (click)="getBilan()">Blian
  </button>
  <h2 *ngIf="nb_completed !=null" class="font-mono font-bold ml-2">Todos completed : {{nb_completed}}/{{ todolist.length }}</h2>

  <ul class="grid grid-cols-1 gap-4 list-none p-3">
    <li *ngFor="let todo of todolist" class="overflow-hidden rounded-lg border-gray-400 border-2 shadow-lg p-2">
      <p class="flex flex-nowrap">
        <span class="font-bold text-slate-600 block min-w-[100px]">Titre: </span>{{todo.title}}
      </p>

      <div class="flex flex-nowrap">
        <span class="font-bold text-slate-600 inline-block min-w-[100px]">Completed:</span>
        <input type="checkbox" id="toggle" [checked]="todo.completed"
          [disabled]="todo.completed">
      </div>
    </li>
  </ul>
</section>
