<section id="users" class="m-2 mx-auto w-[90%] p-2">

  <h1 class="font-sans font-bold text-3xl mb-4"> Todo list :</h1>
  <input name="username" placeholder="Username" min={0} [(ngModel)]="user_verif"
    class="w-[200px] inline-block max-w-sm rounded-xl  py-2 pl-3 pr-2 shadow-md focus:outline-none border-2 focus:border-red-600 border-gray-100 m-2 mb-6" />
  <button
    class=" w-[150px] flex-shrink disabled:bg-slate-200 disabled:text-gray-400 bg-red-600 hover:bg-red-700 text-white p-2 text-center rounded-lg disabled:font-normal font-bold uppercase disabled:shadow-none shadow-md text-sm"
    (click)="verify()">Blian
  </button>
  <h2 *ngIf="nb_repeated !=null" class="font-mono font-bold ml-2">Username repeated : {{nb_repeated}}</h2>

  <ul class="grid grid-cols-1 gap-4 list-none p-3">
    <li *ngFor="let user of listUsers" class="overflow-hidden rounded-lg border-gray-200 border-2 shadow-md p-2">
      <p class="flex flex-nowrap">
        <span class="font-bold text-slate-600 block min-w-[100px]">Nom: </span>{{user.name}}
      </p>
      <p class="flex flex-nowrap">
        <span class="font-bold text-slate-600 block min-w-[100px]">Username: </span>{{user.username}}
      </p>
      <p class="flex flex-nowrap">
        <span class="font-bold text-slate-600 block min-w-[100px]">Email: </span>{{user.email}}
      </p>

    </li>
  </ul>
</section>
